@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto Slab';
    src: url(../resource/font/RobotoSlab-VariableFont_wght.ttf);
}

body {
    font-family: 'Roboto Slab', serif;
    font-weight: theme('fontWeight.light');
}

@layer utilities {
    .custom-desktop-background {
        height: 100%;
        background: linear-gradient(to bottom, white, white 15%, theme('colors.cyo-red-light') 15%, theme('colors.cyo-red-light') 85%, white 85%, white)
    }

    .custom-desktop-md-background {
        height: 100%;
        background: linear-gradient(to bottom, white, white 5%, theme('colors.cyo-red-light') 5%, theme('colors.cyo-red-light') 95%, white 95%, white)
    }

    .custom-mobile-background {
        height: 100%;
        background: linear-gradient(to bottom, white, white 15%, theme('colors.cyo-red-light') 15%, theme('colors.cyo-red-light') 100%, white 100%, white)
    }
}


.custom-shape-divider-top-1690353153 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1690353153 svg {
    position: relative;
    display: block;
    width: calc(174% + 1.3px);
    height: 96px;
}

.custom-shape-divider-top-1690353153 .shape-fill {
    fill: white;
}
