header {
    box-shadow: rgba(0, 0, 0, 0.075) 0 1px;
    display: flex;
    align-items: center;
    height: 5rem;
    color: black;
    padding-left: 16rem;
    padding-right: 16rem;
    font-weight: 400;
}

header a {
    max-height: 40px;
    margin-right: 2rem;
}

header a:last-of-type {
    margin-right: 0;
}

/* header a:first-of-type {
    margin-right: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
} */

header a:link {
    color: black;
    text-decoration: none;
}

header a:visited {
    color: black;
    text-decoration: none;
}

header a:hover {
    color: rgb(194, 34, 61);
}

#logo {
    flex-grow: 1;
}

#logo a {
    display: flex;
    align-items: center;
    width: max-content;
}

#logo img {
    max-height: 3rem;
    margin-right: 0.5rem;
}